@model  WebApplication2new.Models.table3
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm( "Index", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <table>
                <tr>

                    <td>@Html.LabelFor(model => model.Email)</td>
                    <td>@Html.EditorFor(Model => Model.Email)</td>
                    <td>@Html.ValidationMessageFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Password)</td>
                    <td>@Html.EditorFor(Model => Model.Password)</td>
                </tr>
               
                <tr>
                    <td><input type="submit" value="Login" /></td>
                    <td><input type="reset" value="Clear" /></td>
                </tr>
            </table>
        
    }

    </div>
</body>
</html>
